<p id="notice"><%= notice %></p>

<h1>Event Maps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_maps.each do |event_map| %>
      <tr>
        <td><%= event_map.title %></td>
        <td><%= event_map.address %></td>
        <td><%= event_map.start_date %></td>
        <td><%= event_map.end_date %></td>
        <td><%= link_to 'Show', event_map, :class=> 'btn btn-outline-primary'  %></td>
        <td><%= link_to 'Edit', edit_event_map_path(event_map),:class=> 'btn btn-outline-secondary'  %></td>
        <td><%= link_to 'Destroy', event_map, method: :delete, data: { confirm: 'Are you sure?' },:class=> 'btn btn-outline-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Map', new_event_map_path, :class=>'btn' %>
